.pinkbox {
  background-color: pink;
}

.purplebox {
  background-color: purple;
  color: white;
}

.footerbox {
  background-color: lightskyblue;
}

.secondheader {
  background-color: blue;
  color: white;
}