.pinkbox {
  background-color: pink;
}

.jumbotron {
  background-color: #0a091a;
  color: white;
}

.Navbar {
  background-color: #0a091a;
  color: white;
}

.footerbox {
  background-color: #5b51e8;
}

.secondheader {
  background-color: #9f99ec;
  color: white;
}

.homepage {
  background-color: #696969;
  color: white;
}

.main {
  background-color: #000;
  color: ivory;
}





