body {
  font-family: "Open Sans", sans-serif;
}

.space {
  background-color: #0a091a;
  color: #463eb3;
  padding: 30px;
  margin: 0;
}

.jumbo {
  background-color:#0a091a !important; 
  height: 90vh;
  margin-bottom: 0px;
  background-color: #0a091a;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.Navbar {
  background-color: #0a091a;
  color: white;
}

.footerbox {
  background-color: darkgray;
}

.secondheader {
  background-color: #0a091a;
  color: white;
}

.homepage {
  color: white;
}

.main {
 
  color: ivory;
}

.photo {
  
  
}

.responsive-image {
  height: 100%;
  object-fit: contain;
  margin: 0px;
}

.text {
  height: 300px;
  background-color: white;
  color: #0a091a;
}

.headsets {
  color: #0a091a;
  
  background-color: #0a091a;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  padding-bottom: 20%;
}

.white {
  color: white !important;
}



